{{> head }}


   
   {{> navbar }}

  
    <div class="row">
        <div class="col-8">
          <h1>Firechat</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia optio, magnam omnis adipisci deserunt natus, nemo facilis voluptatem unde quae ducimus iusto doloribus! Sequi fugit veritatis voluptate aliquam, reiciendis ab!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/firechat.jpg" class="img-thumbnail">
        </div>
    </div>


 {{> footer}}